.sudoku-square {
  height: 9.5vh;
  width: 9.5vh;
  font-size: 4vh;
  min-width: 0;
  text-align: center;
  border: none;
  border: 1px solid #767676;
  outline: none;
}

.sudoku-square:focus {
  background-color: yellow;
  background-blend-mode: darken;
}

.sudoku-square:nth-child(3n + 1) {
  border-left: 2px solid black;
}

.sudoku-square::selection {
  background: none;
}

.readonly {
  background-image: linear-gradient(#eeeeee 0 0);
}
